<div class="overflow-auto">
<h4 class="mt-2 h5  border border-1 border-dark border-opacity-25 pb-2
border-top-0 border-end-0 border-start-0 ps-4">Formulario para crear una nueva categoria</h4>
<div class="mt-2 d-flex justify-content-center h-100 align-items-center">
    <div class="w-50">
    <form class=" border p-3 border-1 border-dark-subtle" id="form-category">
        <div class="mb-3">
          <label class="ms-Label is-required">Ingrese el nombre de la categoria</label>
          <input type="text" class="ms-TextField-field fw-bold" placeholder="Nombre...">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
            <label class="ms-Label is-required">Ingrese el precio</label>
            <input id="price" type="text" class="ms-TextField-field fw-bold" placeholder="Numeros...">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3" id="limit-category">
            <label class="ms-Label is-required">Ingrese el limite de metros cubicos para la categoria</label>
            <input id="limit" type="text" class="ms-TextField-field fw-bold"  placeholder="Numeros...">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <button class="ms-Button ms-Button--primary">
            <span class="ms-Button-label">Crear Categoria</span> 
          </button>
    </form>
    </div>
</div>

<h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
border-top-0 border-end-0 border-start-0 ps-4">Categorias disponibles</h4>

<table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Nombre de la categoria</th>
        <th>Precio de la categoria</th>
        <th>Limite de metros cubicos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4" class="text-center">
            <span class="h3 ">De momento no contiene categorias disponbles.</span>
        </td>
      </tr>
    </tbody>
  </table>

</div>