<h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
border-top-0 border-end-0 border-start-0 ps-4">Formulario para realizar el cobro de agua potable</h4>
<p class="pt-2 ps-5 pe-5 pb-2">
    Esta sección del sistema está diseñada para permitirle realizar el cobro de agua potable. 
    Es muy importante ya que permite a los usuarios pagar sus facturas de agua de manera efectiva y 
    eficiente unicamente ingresando el código del domicilio. El sistema se encarga de recopilar y procesar la información de los usuarios, 
    En resumen, esta sección del sistema es fundamental para garantizar
    que los usuarios reciban un servicio de agua potable confiable y puedan pagar sus facturas de manera rápida y conveniente.
</p>
<!-- <div class="w-100 d-flex justify-content-center mt-4"> -->
    <div class="w-50 m-auto">
        <div class="d-flex" role="search">
            <input class="form-control me-2 border border-1 border-primary" type="text" 
            placeholder="Ingrese el código del domicilio" aria-label="Search" id="busqueda-text"> 
            <button id="busqueda-cobros" class="btn btn-outline-primary" type="button">Buscar</button>
        </div>    
    </div>
<!-- </div> -->








<h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
border-top-0 border-end-0 border-start-0 ps-4">Datos del Cobro</h4>

<div class="card mb-4" id="container-info">
    
<div class="d-flex justify-content-center">
<div class="ms-MessageBar ms-MessageBar--success">
    <div class="ms-MessageBar-content">
      <div class="ms-MessageBar-icon">
        <i class="ms-Icon ms-Icon--Completed"></i>
      </div>
      <div class="ms-MessageBar-text">
        En esta sección se presentara la información de la recaudación del cliente.<br>
        En la barra de busqueda ingrese el número de cédula del cliente o el codidgo del domicilio.
      </div>
    </div>
  </div>
  
</div>
</div>