<h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
border-top-0 border-end-0 border-start-0 ps-4">Consulta sobro la caja total de la empresa.</h4>
<p class="pt-2 ps-5 pe-5 pb-2">
    Esta sección del sistema le permite mostrar el monto total de presupuesto que contiene la empresa
    por la recaudación de cobro de agua potable y todos los movimientos de este como las acometidas y
    compras.
</p>

<h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
border-top-0 border-end-0 border-start-0 ps-4">Detalles de la caja presupuestaria.</h4>
<div class="d-flex gap-5">
  <button class="btn d-flex align-items-center gap-2 bg-black mb-4" id="btn-report">
    <i class="ms-Icon ms-Icon--PDF text-white"></i> <span class="ms-Button-label text-white">Generar Informe</span>
  </button>
  <button class="btn btn-outline-info d-flex align-items-center gap-2 mb-4" id="caja-inf">
    <i class="ms-Icon ms-Icon--Money"></i> <span class="ms-Button-label">Valor de caja</span>
  </button>
  <button class="btn btn-outline-info d-flex align-items-center gap-2 mb-4" id="cambio">
    <i class="ms-Icon ms-Icon--Running"></i> <span class="ms-Button-label">Movimientos de caja</span>
  </button>
</div>
<table class="table table-bordered border-primary" id="table-info">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Código de casa</th>
        <th>Fecha(pago/acometida)</th>
        <th>Valor neto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3" class="text-center">
            <span class="h3 ">De momento no contiene presupuesto.</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="reporte" class="d-none p-4">
      <h3 class="text-center">
        Informe de caja
      </h3>
      <div>
        <strong>Fecha: </strong> <span id="f-c"></span>
      </div>

  </div>