<h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
border-top-0 border-end-0 border-start-0 ps-4">Formulario para buscar un domicilio.</h4>
<p class="pt-2 ps-5 pe-5 pb-2">
    Esta sección le permite actualizar los datos de un medidor para que en el momento de realizar el cobro 
    de agua potable el calculo del cobro sea correcto y no contenga errores perjudiciales.
</p>
<!-- <div class="w-100 d-flex justify-content-center mt-4"> -->
    <div class="w-50 m-auto">
        <div class="d-flex" role="search">
            <input class="form-control me-2 border border-1 border-primary" type="search" 
            placeholder="Ingrese el código del domicilio o número de cédula" aria-label="Search" id="busqueda-text"> 
            <button id="busqueda-cobros" class="btn btn-outline-primary" type="button">Buscar</button>
        </div>    
    </div>
<!-- </div> -->


<h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
border-top-0 border-end-0 border-start-0 ps-4">Datos del domicilio</h4>

<div class="card mb-4" id="container-info">
    
<div class="d-flex justify-content-center">
<div class="ms-MessageBar ms-MessageBar--success">
    <div class="ms-MessageBar-content">
      <div class="ms-MessageBar-icon">
        <i class="ms-Icon ms-Icon--Completed"></i>
      </div>
      <div class="ms-MessageBar-text">
        En esta sección se presentara la información del o los domicilios.<br>
        En la barra de busqueda ingrese el número de cédula del cliente o el codidgo del domicilio.
      </div>
    </div>
  </div>
</div>
</div>
    
    <!-- <h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
    border-top-0 border-end-0 border-start-0 ps-4">Acometidas disponibles</h4>
    
    <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Detalle de la acometida</th>
            <th>Precio invertido</th>
            <th>Fecha de registro</th>
            <th>Codigo de casa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" class="text-center">
                <span class="h3 ">De momento no contiene categorias disponbles.</span>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div> -->