<div class="w-100">
    <h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
    border-top-0 border-end-0 border-start-0 ps-4">Ingrese el valor del metro cúbico</h4>
    <form class="w-75 border m-auto p-3 border-1 border-dark-subtle" id="form-m3">
        <div class="w-75 m-auto">
            <div class="mb-3 w-100">
                <label class="ms-Label is-required">Ingrese el valor</label>
                <input type="text" class="ms-TextField-field fw-bold" placeholder="Por ejemplo: 0.25">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <button type="submit" class="ms-Button ms-Button--primary d-block w-50 m-auto">
                        <span class="ms-Button-label">Registrar valor</span> 
            </button>
        </div>
    </form>
</div>

<div class="w-100">
    <h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
    border-top-0 border-end-0 border-start-0 ps-4">Valor actual del metro cúbico</h4>

    <div class="w-50 m-auto">
        <div class="w-50 m-auto border border-1 border-dark border-opacity-25 text-center p-3">
            <strong>Valor: </strong> <span id="ui"></span> 
        </div>
    </div>

</div>
