<h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
border-top-0 border-end-0 border-start-0 ps-4">Información del Respaldo</h4>
<p class="pt-2 ps-5 pe-5 pb-2">
    Esta sección del sistema le permite realizar un respaldo de la base de datos, 
    la cual puede elegir en lugar de su computadora lo desea guardar, el archivo contendrá
    todos los datos sobre el sistema hasta el momento. <br>
    El archivo sera guardado en la extensión .sql que es lenguaje propio de las bases de datos.
</p>
<div class="w-50 m-auto d-flex justify-content-center">
<img width="400" height="400" src="./../src/public/imgs/undraw_cloud_files_wmo8.svg" alt="backup">
</div>
<div class="w-50 m-auto d-flex justify-content-center">
<button id="backup" class="btn btn-primary pt-2 pb-2 ps-4 pe-4">Generar Respaldo</button>
</div>