<div class="overflow-auto">
    <h4 class="mt-2 h5  border border-1 border-dark border-opacity-25 pb-2
    border-top-0 border-end-0 border-start-0 ps-4">Formulario para crear un nuevo sector</h4>
    <div class="mt-2 d-flex justify-content-center h-100 align-items-center">
        <div class="w-50">
        <form class=" border p-3 border-1 border-dark-subtle" id="form-sector">
            <div class="mb-3">
              <label class="ms-Label is-required">Ingrese el código para el sector </label>
              <input type="text" class="ms-TextField-field fw-bold" placeholder="Por ejemplo: APL de Alpachaca ">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
                <label class="ms-Label is-required">Ingrese el nombre del sector</label>
                <input id="price" type="text" class="ms-TextField-field fw-bold" placeholder="Por ejemplo: Alpachaca">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <button class="ms-Button ms-Button--primary">
                <span class="ms-Button-label">Registrar sector</span> 
              </button>
        </form>
        </div>
    </div>
    
    <h4 class="mt-2 h5 border border-1 border-dark border-opacity-25 pb-2
    border-top-0 border-end-0 border-start-0 ps-4">Sectores registrados</h4>
    
    <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Código del sector</th>
            <th>Nombre del sector</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3" class="text-center">
                <span class="h3 ">De momento no existen sectores registrados</span>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>